div(ng-include='"components/navbar/navbar.html"')
.container.col-md-3.col-md-offset-1
  div
    canvas#the-canvas(style="border:1px solid black")
  div.col-md-offset-4
    button.btn.btn-default(ng-click="onPrevPage()")
      img(src="assets/images/leftArrow.png", height="25px")
    span
      | &nbsp; Page: 
      span#page_num
      |  / 
      span#page_count
      |  &nbsp;
      button.btn.btn-default(ng-click="onNextPage()")
        img(src="assets/images/rightArrow.png", height="25px")

.container.pull-right.col-md-6
  .panel.panel-default.col-md-12
    table
      tr
        td
          p Relevance of the lesson : 
        td
          p test
      tr
        td
          p Number of students lost : 
        td
          p test
      tr
        td
          p Mood of the students : 
        td
          img#mood(src="assets/images/healthy.png" height="50px")

.container.pull-right.col-md-6
  h1.page-header Chat:
  #chatDiv.col-lg-12.chatMsg.chatDisplay
    ul(ng-repeat='m in msgReceived', ng-init="scroll()")
      li.active
        p  {{m.hour}} &nbsp &nbsp &nbsp &nbsp {{m.sentBy}}: {{m.message}}