div(ng-include='"components/navbar/navbar.html"')
.container.col-md-3.col-md-offset-1
  div
    button.btn.btn-primary(ng-click="onPrevPage()") Previous
    button.btn.btn-primary(ng-click="onNextPage()") Next
    span
      | Page:
      span#page_num
      | /
      span#page_count
  div
    canvas#the-canvas(style="border:1px solid black")



.container.pull-right.col-md-6
  h1.page-header Chat:
  .col-lg-12.chatMsg.chatDisplay
    ul(ng-repeat='m in msgReceived')
      li.active
        p  {{m.hour}} &nbsp &nbsp &nbsp &nbsp {{m.sentBy}}: {{m.message}}