div(ng-include='"components/navbar/navbar.html"')
.container
  .container.pull-left.col-md-4
    div
      button.btn.btn-primary(ng-click="onPrevPage()") Previous
      button.btn.btn-primary(ng-click="onNextPage()") Next
      span
        | Page:
        span#page_num
        | /
        span#page_count
    div
      canvas#the-canvas(style="border:1px solid black")

  .container.pull-right.col-md-5
    h1 Personal Notes
    textarea.form-control(rows="10")
    div(style="margin-bottom:40%")
    table
      tr
        td
          button.btn.btn-default(type='button', ng-click="", title="Le cours est intéressant")
            img(src="assets/images/thumbsUP.png", height="100px")
        td
          button.btn.btn-default(type='button', ng-click="", title="Le cours n'est pas intéressant")
            img(src="assets/images/thumbsDOWN.png" height="100px")
        td
          button.btn.btn-default(type='button', ng-click="", title="Je comprend Like A Boss")
            img(src="assets/images/png/cool.png", height="100px")
        td
          button.btn.btn-default(type='button', ng-click="", title="Je comprends !")
            img(src="assets/images/png/smile.png", height="100px")
      tr
        td
          button.btn.btn-default(type='button', ng-click="", title="heu... je ne suis pas sur de comprendre")
            img(src="assets/images/png/question.png" height="100px")
        td
          button.btn.btn-default(type='button', ng-click="", title="Je ne comprends rien")
            img(src="assets/images/png/cry.png" height="100px")
        td
          button.btn.btn-default(type='button', ng-click="", title="WTF ?! J'ai rien compris à ça")
            img(src="assets/images/png/startle.png" height="100px")
        td
          button.btn.btn-default(type='button', ng-click="", title="Faux !!! Je pense que vous vous trompez")
            img(src="assets/images/png/surprise.png", height="100px")
          
          
.container
  .container.pull-left.col-md-2
  form.thing-form
    label Send a message !
    p.input-group
      input.form-control(type='text', placeholder='Message...', ng-model='chatMsg')
      span.input-group-btn
        button.btn.btn-primary(type='submit', ng-click='send()') Send !