div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 Easy Learning
    p.lead Start learning in a new and fashion way now !
    img(src='assets/images/easyLearningLogo.png', alt='Learn !')

.container
  .row
    br
    .col-lg-12.myButtons
        button.btn.btn-primary(onClick="location.href='/signup'") Sign up !
        br
        br
        button.btn.btn-primary(onClick="location.href='/login'") Login !

footer.footer
  .container
    p
      | Easy Lerning
      = ' | Heig-VD project '
      a(href='http://www.heig-vd.ch') @Heig-VD
      = ' | '
    p
      | Created by : Calixte Melly & Righitto Simone
