div(ng-include='"components/navbar/navbar.html"')


.container.col-md-6
  table(width='100%')
      tr
          td(width='50%')
              .panel.panel-default
                  h3 Follow a lecture
                  table.table.table-striped
                      tr
                          th Title
                          th Description
                          th Created on
                          th By professor
                          th Preview
                          th Join
                      tr(ng-repeat="lecture in foundedLectures")
                              td a{{lecture.title}}
                              td {{lecture.description}}
                              td {{lecture.creationDate}}
                              td {{lecture.professorName}}
                              td
                                button.btn.btn-default(type='button', ng-click='previewLecture(lecture._id)') Preview
                              td
                                button.btn.btn-default(type='button', ng-click='startFollowLecture(lecture._id)') Follow lecture


.container.pull-right.col-md-4
    div
      canvas#the-canvas(style="border:1px solid black")
