div(ng-include='"components/navbar/navbar.html"')
.container.pull-left.col-md-6
  h1.page-header Create a new Lecture:
  .form-group
    label Lecture Title
    input.form-control(type='text', name='Title')
  .form-group
    label Description
    input.form-control(type='text', name='Desctiption')
  label PDF slides
  input.form-control(type='file', name='pdfFile', ng-file-select='onFileSelect($files)')


.container.pull-right.col-md-6
  h1.page-header Archived:
  .panel.panel-default
    table.table.table-striped
      tr
        th Title
        th Date created
        th Action
      tr(ng-repeat="lecture in pastLectures")
        td test
        td dateTest
        td 
          button.btn.btn-default(type='button', ng-click='consult(lecture._id)') Consult lecture
