div(ng-include='"components/navbar/navbar.html"')
.container.pull-left.col-md-6
  h1.page-header Create a new Lecture:
  .form-group
    label Lecture Title
    input.form-control(type='text', name='Title')
  .form-group
    label Description
    input.form-control(type='text', name='Desctiption')
  label PDF slides
  select.form-control
    option(value='one') One
      option(value='two') Two
      option(value='three') Three
      option(value='four') Four
      option(value='five') Five


.container.pull-right.col-md-6
  h1.page-header Archived:
